.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat');

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body {
  font-family: 'Montserrat' !important;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #EEECE4 !important;
}
.successrow {
  color: #70C89F;
}
.dangerrow {
  color: #ED7582
  ;
}
.itemNameCol{
  cursor: default;
  display: block;
  width: 190px;
  /* color: #61dafb; */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.linkicon{
  cursor: pointer;
}

.stickme {
  top: 16px;
  position: sticky;
  /* background: lightgreen; */
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #EEECE4;
  border-radius: 5px;
}
.navcol{
  background-color:white;
  overflow-y:scroll;
  height:85vh;
  filter:drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* #grid-container{
  padding-top: 100px;
} */
